html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*GLOBALES*/

body {
    margin: 0;
    background: rgb(0, 20, 120);
    background: linear-gradient(90deg, rgba(0, 20, 120, 1) 0%, rgba(9, 12, 45, 1) 5%, rgba(9, 12, 45, 1) 95%, rgba(0, 20, 120, 1) 100%);
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}


/*HEADER*/

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.titulo {
    color: #e1e1e1;
    font-family: roboto;
    vertical-align: bottom;
    width: 31%;
    text-align: center;
    font-size: 50px;
}


/*BUSQUEDA*/

.buscar {
    width: 31%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buscar i {
    font-size: 50px;
    margin-right: 10px;
    vertical-align: bottom;
    cursor: pointer;
    color: #e1e1e1;
}

.buscar i:active {
    color: #808080;
}

.search-bar {
    padding: 10px 5px;
    width: 70%;
    visibility: hidden;
    font-size: 20px;
    vertical-align: bottom;
}

.search-bar-fadein {
    animation-name: fadeIn;
    animation-duration: .5s;
}

@keyframes fadeIn {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

.search-bar-fadeout {
    animation-name: fadeOut;
    animation-duration: .5s;
}

@keyframes fadeOut {
    0% {
        width: 70%;
    }
    100% {
        width: 0%;
    }
}


/*SOBRE MI*/

.sobre-mi {
    width: 31%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.sobre-mi-btn {
    width: 50%;
    padding: 20px 0;
    background: rgb(6, 18, 142);
    background: linear-gradient(90deg, rgba(6, 18, 142, 1) 0%, rgba(73, 86, 219, 1) 100%);
    border: none;
    border-radius: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #e1e1e1;
    cursor: pointer;
}

.sobre-mi-btn:hover {
    background: rgb(6, 18, 142);
    background: linear-gradient(90deg, rgb(17, 33, 209) 0%, rgb(111, 122, 243) 100%);
}


/*PELICULAS*/

.contenedor-peliculas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

section .cat {
    margin-top: 40px;
    color: #e1e1e1;
    max-width: 150px;
    font-family: montserrat;
    font-weight: bold;
    transition: .2s ease all;
}

section .cat:hover {
    color: rgb(71, 69, 69);
    font-size: 18px;
}

.pelicula {
    border: 1px solid #7a7575;
    height: 300px;
    padding: 7px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.pelicula:hover {
    border: 1px solid #e1e1e1;
    transform: scale(1.1);
}

.pelicula img {
    height: 250px;
    width: 200px;
}

.titulo-pelicula {
    margin: 0;
    color: #e1e1e1;
    font-size: 18px;
    font-family: roboto;
    text-align: center;
}


/*MODALES*/

.modal-1,
.modal-varios,
.modal-yo {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: #e1e1e1;
}

.modal-1-contenedor,
.modal-varios-contenedor,
.modal-yo-contenedor {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-varios-contenedor {
    width: 90%;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: -17px;
    margin-top: -20px;
}

.cerrar:hover,
.cerrar:focus {
    color: #e1e1e1;
    text-decoration: none;
    cursor: pointer;
}

.contenedor-pelicula-seleccionada {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contenedor-pelicula-seleccionada img {
    width: 400px;
    height: 600px;
}

.contenedor-varias-seleccionadas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.info-pelicula-seleccionada {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.titulo-seleccionado {
    font-family: raleway;
    font-size: 40px;
    text-align: center;
}

.detalles {
    font-family: roboto mono;
    font-size: 20px;
}

.calificacion {
    font-size: 20px;
    text-align: center;
    font-family: roboto mono;
    align-self: flex-end;
}


/*CARRUSEL*/

.contenedor-principal {
    position: relative;
}

.flecha-izquierda,
.flecha-derecha {
    position: absolute;
    border: none;
    background: rgba(161, 160, 160, 0.7);
    font-size: 40px;
    height: 25%;
    top: calc(50% - 15%);
    line-height: 40px;
    width: 50px;
    color: rgb(226, 193, 193);
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
    scroll-behavior: smooth;
}

.flecha-izquierda:hover,
.flecha-derecha:hover {
    background: rgba(82, 80, 80, 0.7);
}

.flecha-izquierda {
    left: 0;
}

.flecha-derecha {
    right: 0;
}


/*FOOTER*/

.footer {
    margin-top: 20px;
    padding: 40px 60px;
    background-color: rgba(87, 87, 107, 0.1);
    display: flex;
    justify-content: space-between;
}

.footer small {
    color: #e1e1e1;
    font-size: 20px;
}

.footer img {
    width: 250px;
}


/*SOBRE MI*/

.modal-yo-contenido {
    display: flex;
    justify-content: space-between;
}

.info-yo {
    font-family: raleway;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-yo h2 {
    margin: 0;
}

.info-yo span {
    color: #fff;
}

.contacto {
    align-items: flex-end;
    margin: 0;
}


/*REDES SOCIALES*/

.sociales h4 {
    font-family: roboto;
    border-bottom: 1px solid #e1e1e1;
    font-size: 20px;
    text-align: end;
}

.sociales a {
    text-decoration: none;
    margin-right: 15px;
}

.sociales a:last-of-type {
    margin-right: 0;
}

.sociales i {
    font-size: 50px;
    color: #707070;
}

.sociales i:hover {
    color: #e1e1e1;
}

.redes {
    text-align: end;
}